body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Poppins', sans-serif;
  font-size: 4.6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.75rem;
}
.display-2 {
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.125rem;
}
.display-4 {
  font-family: 'Poppins', sans-serif;
  font-size: 0.6rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 0.75rem;
}
.display-5 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 1.75rem;
}
.display-7 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.375rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.68rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.22rem;
    font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2rem;
    font-size: calc( 1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.48rem;
    font-size: calc( 0.86rem + (0.6 - 0.86) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.86rem + (0.6 - 0.86) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #6592e6 !important;
}
.bg-success {
  background-color: #2ce7d2 !important;
}
.bg-info {
  background-color: #47b5ed !important;
}
.bg-warning {
  background-color: #40da78 !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #6592e6 !important;
  border-color: #6592e6 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #2260d2 !important;
  border-color: #2260d2 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #2260d2 !important;
  border-color: #2260d2 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
}
.btn-info,
.btn-info:active {
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
}
.btn-success,
.btn-success:active {
  background-color: #2ce7d2 !important;
  border-color: #2ce7d2 !important;
  color: #021210 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #13a998 !important;
  border-color: #13a998 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #021210 !important;
  background-color: #13a998 !important;
  border-color: #13a998 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #40da78 !important;
  border-color: #40da78 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #20a450 !important;
  border-color: #20a450 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #20a450 !important;
  border-color: #20a450 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #6592e6;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #2260d2 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #6592e6 !important;
  border-color: #6592e6 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff6666;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ff0f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #47b5ed;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #148cca !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #2ce7d2;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #13a998 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #021210 !important;
  background-color: #2ce7d2 !important;
  border-color: #2ce7d2 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #40da78;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #20a450 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #40da78 !important;
  border-color: #40da78 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff5f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #6592e6 !important;
}
.text-secondary {
  color: #ff6666 !important;
}
.text-success {
  color: #2ce7d2 !important;
}
.text-info {
  color: #47b5ed !important;
}
.text-warning {
  color: #40da78 !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #205ac5 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #ff0000 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #129b8c !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #1283bc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #1d9749 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff5500 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #6592e6;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #47b5ed;
}
.alert-warning {
  background-color: #40da78;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-gallery-filter li.active .btn {
  background-color: #6592e6;
  border-color: #6592e6;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #6592e6;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #e3fcf9;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ebfbf1;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Poppins', sans-serif;
  font-size: 0.6rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 0.75rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #6592e6 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Poppins', sans-serif;
  font-size: 0.6rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 0.75rem;
}
blockquote {
  border-color: #6592e6;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #6592e6;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #6592e6;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #6592e6;
  border-bottom-color: #6592e6;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #6592e6 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ff6666 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%236592e6' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-swFe7AVDuG .navbar-dropdown {
  position: relative !important;
}
.cid-swFe7AVDuG .navbar-dropdown {
  position: absolute !important;
}
.cid-swFe7AVDuG .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-swFe7AVDuG .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-swFe7AVDuG .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-swFe7AVDuG .dropdown-item:hover,
.cid-swFe7AVDuG .dropdown-item:focus {
  background: #6592e6 !important;
  color: white !important;
}
.cid-swFe7AVDuG .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-swFe7AVDuG .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-swFe7AVDuG .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-swFe7AVDuG .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-swFe7AVDuG .nav-link {
  position: relative;
}
.cid-swFe7AVDuG .container {
  display: flex;
  margin: auto;
}
.cid-swFe7AVDuG .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-swFe7AVDuG .dropdown-menu,
.cid-swFe7AVDuG .navbar.opened {
  background: #40da78 !important;
}
.cid-swFe7AVDuG .nav-item:focus,
.cid-swFe7AVDuG .nav-link:focus {
  outline: none;
}
.cid-swFe7AVDuG .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-swFe7AVDuG .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-swFe7AVDuG .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-swFe7AVDuG .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-swFe7AVDuG .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-swFe7AVDuG .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-swFe7AVDuG .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  background: rgba(64, 218, 120, 0);
}
.cid-swFe7AVDuG .navbar.opened {
  transition: all 0.3s;
}
.cid-swFe7AVDuG .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-swFe7AVDuG .navbar .navbar-logo img {
  width: auto;
}
.cid-swFe7AVDuG .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-swFe7AVDuG .navbar.collapsed {
  justify-content: center;
}
.cid-swFe7AVDuG .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-swFe7AVDuG .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-swFe7AVDuG .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-swFe7AVDuG .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-swFe7AVDuG .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-swFe7AVDuG .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-swFe7AVDuG .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-swFe7AVDuG .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-swFe7AVDuG .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-swFe7AVDuG .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-swFe7AVDuG .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-swFe7AVDuG .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-swFe7AVDuG .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-swFe7AVDuG .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-swFe7AVDuG .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-swFe7AVDuG .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-swFe7AVDuG .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-swFe7AVDuG .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-swFe7AVDuG .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-swFe7AVDuG .navbar.navbar-short {
  min-height: 60px;
}
.cid-swFe7AVDuG .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-swFe7AVDuG .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-swFe7AVDuG .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-swFe7AVDuG .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-swFe7AVDuG .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-swFe7AVDuG .dropdown-item.active,
.cid-swFe7AVDuG .dropdown-item:active {
  background-color: transparent;
}
.cid-swFe7AVDuG .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-swFe7AVDuG .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-swFe7AVDuG .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-swFe7AVDuG .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #40da78;
}
.cid-swFe7AVDuG .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-swFe7AVDuG .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-swFe7AVDuG ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-swFe7AVDuG .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-swFe7AVDuG button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-swFe7AVDuG button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-swFe7AVDuG button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-swFe7AVDuG button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-swFe7AVDuG button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-swFe7AVDuG button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-swFe7AVDuG nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-swFe7AVDuG nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-swFe7AVDuG nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-swFe7AVDuG nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-swFe7AVDuG .navbar-dropdown {
  padding: 0 1rem;
}
.cid-swFe7AVDuG a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-swFe7AVDuG .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-swFe7AVDuG .navbar {
    height: 70px;
  }
  .cid-swFe7AVDuG .navbar.opened {
    height: auto;
  }
  .cid-swFe7AVDuG .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-swFeblBrhL {
  background-image: url("../../../assets/images/brscapiacu-min-1692x1269.jpg");
}
.cid-swFeblBrhL .mbr-section-title {
  color: #ffffff;
}
.cid-swFeblBrhL .mbr-text,
.cid-swFeblBrhL .mbr-section-btn {
  color: #ffffff;
}
.cid-swKrZN8laP {
  padding-top: 3rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-swKwR7q3w2 {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sysmKJlvG9 {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
.cid-sysmKJlvG9 .carousel-item {
  justify-content: center;
}
.cid-sysmKJlvG9 .carousel-item.active,
.cid-sysmKJlvG9 .carousel-item-next,
.cid-sysmKJlvG9 .carousel-item-prev {
  display: flex;
}
.cid-sysmKJlvG9 .carousel-controls a {
  transition: opacity .5s;
  font-size: 30px;
  position: absolute;
  top: 180px;
  bottom: auto;
  height: 60px;
  width: 60px;
  padding: 10px;
  color: #155ce0;
}
.cid-sysmKJlvG9 .carousel-controls a .mbr-iconfont {
  font-weight: 800;
}
.cid-sysmKJlvG9 .carousel-control-next span {
  padding-left: 5px;
}
.cid-sysmKJlvG9 .carousel-control-prev span {
  padding-right: 5px;
}
.cid-sysmKJlvG9 .user_image {
  width: 200px;
  height: 200px;
  margin-bottom: 1.6rem;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto 2rem auto;
}
.cid-sysmKJlvG9 .user_image img {
  width: 100%;
  min-width: 100%;
  min-height: 100%;
}
@media (max-width: 230px) {
  .cid-sysmKJlvG9 .user_image {
    width: 100%;
    height: auto;
  }
}
.cid-sym498Rzh2 {
  padding-top: 5rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sym498Rzh2 .card .card-header {
  background-color: transparent;
  margin-bottom: 0;
}
.cid-sym498Rzh2 .panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cid-sym498Rzh2 .mbr-iconfont {
  padding-left: 1rem;
  font-family: 'Moririse2' !important;
  font-size: 1.4rem !important;
  color: #6592e6;
}
.cid-sym498Rzh2 .panel-body,
.cid-sym498Rzh2 .card-header {
  padding: 1rem 0;
}
.cid-sym498Rzh2 .panel-title-edit {
  color: #000000;
}
.cid-sym5nHHTee {
  padding-top: 0rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-sym5nHHTee .card .card-header {
  background-color: transparent;
  margin-bottom: 0;
}
.cid-sym5nHHTee .panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cid-sym5nHHTee .mbr-iconfont {
  padding-left: 1rem;
  font-family: 'Moririse2' !important;
  font-size: 1.4rem !important;
  color: #6592e6;
}
.cid-sym5nHHTee .panel-body,
.cid-sym5nHHTee .card-header {
  padding: 1rem 0;
}
.cid-sym5nHHTee .panel-title-edit {
  color: #000000;
}
.cid-sym7Gwpzio {
  padding-top: 5rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sym7Gwpzio .card .card-header {
  background-color: transparent;
  margin-bottom: 0;
}
.cid-sym7Gwpzio .panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cid-sym7Gwpzio .mbr-iconfont {
  padding-left: 1rem;
  font-family: 'Moririse2' !important;
  font-size: 1.4rem !important;
  color: #6592e6;
}
.cid-sym7Gwpzio .panel-body,
.cid-sym7Gwpzio .card-header {
  padding: 1rem 0;
}
.cid-sym7Gwpzio .panel-title-edit {
  color: #000000;
}
.cid-sym7J9oGMA {
  padding-top: 0rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-sym7J9oGMA .card .card-header {
  background-color: transparent;
  margin-bottom: 0;
}
.cid-sym7J9oGMA .panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cid-sym7J9oGMA .mbr-iconfont {
  padding-left: 1rem;
  font-family: 'Moririse2' !important;
  font-size: 1.4rem !important;
  color: #6592e6;
}
.cid-sym7J9oGMA .panel-body,
.cid-sym7J9oGMA .card-header {
  padding: 1rem 0;
}
.cid-sym7J9oGMA .panel-title-edit {
  color: #000000;
}
.cid-symlSDoISt {
  padding-top: 5rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-symlSDoISt .card .card-header {
  background-color: transparent;
  margin-bottom: 0;
}
.cid-symlSDoISt .panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cid-symlSDoISt .mbr-iconfont {
  padding-left: 1rem;
  font-family: 'Moririse2' !important;
  font-size: 1.4rem !important;
  color: #6592e6;
}
.cid-symlSDoISt .panel-body,
.cid-symlSDoISt .card-header {
  padding: 1rem 0;
}
.cid-symlSDoISt .panel-title-edit {
  color: #000000;
}
.cid-symm3KaEal {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-symm3KaEal .card .card-header {
  background-color: transparent;
  margin-bottom: 0;
}
.cid-symm3KaEal .panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cid-symm3KaEal .mbr-iconfont {
  padding-left: 1rem;
  font-family: 'Moririse2' !important;
  font-size: 1.4rem !important;
  color: #6592e6;
}
.cid-symm3KaEal .panel-body,
.cid-symm3KaEal .card-header {
  padding: 1rem 0;
}
.cid-symm3KaEal .panel-title-edit {
  color: #000000;
}
.cid-symm5keO9y {
  padding-top: 0rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-symm5keO9y .card .card-header {
  background-color: transparent;
  margin-bottom: 0;
}
.cid-symm5keO9y .panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cid-symm5keO9y .mbr-iconfont {
  padding-left: 1rem;
  font-family: 'Moririse2' !important;
  font-size: 1.4rem !important;
  color: #6592e6;
}
.cid-symm5keO9y .panel-body,
.cid-symm5keO9y .card-header {
  padding: 1rem 0;
}
.cid-symm5keO9y .panel-title-edit {
  color: #000000;
}
.cid-syrYkYvEQU {
  padding-top: 5rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-syrYkYvEQU .card .card-header {
  background-color: transparent;
  margin-bottom: 0;
}
.cid-syrYkYvEQU .panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cid-syrYkYvEQU .mbr-iconfont {
  padding-left: 1rem;
  font-family: 'Moririse2' !important;
  font-size: 1.4rem !important;
  color: #6592e6;
}
.cid-syrYkYvEQU .panel-body,
.cid-syrYkYvEQU .card-header {
  padding: 1rem 0;
}
.cid-syrYkYvEQU .panel-title-edit {
  color: #000000;
}
.cid-syrYm5IuuS {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-syrYm5IuuS .card .card-header {
  background-color: transparent;
  margin-bottom: 0;
}
.cid-syrYm5IuuS .panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cid-syrYm5IuuS .mbr-iconfont {
  padding-left: 1rem;
  font-family: 'Moririse2' !important;
  font-size: 1.4rem !important;
  color: #6592e6;
}
.cid-syrYm5IuuS .panel-body,
.cid-syrYm5IuuS .card-header {
  padding: 1rem 0;
}
.cid-syrYm5IuuS .panel-title-edit {
  color: #000000;
}
.cid-syrYnabcAu {
  padding-top: 0rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
.cid-syrYnabcAu .card .card-header {
  background-color: transparent;
  margin-bottom: 0;
}
.cid-syrYnabcAu .panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cid-syrYnabcAu .mbr-iconfont {
  padding-left: 1rem;
  font-family: 'Moririse2' !important;
  font-size: 1.4rem !important;
  color: #6592e6;
}
.cid-syrYnabcAu .panel-body,
.cid-syrYnabcAu .card-header {
  padding: 1rem 0;
}
.cid-syrYnabcAu .panel-title-edit {
  color: #000000;
}
.cid-syscfvSe1X {
  padding-top: 5rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-syscfvSe1X .card .card-header {
  background-color: transparent;
  margin-bottom: 0;
}
.cid-syscfvSe1X .panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cid-syscfvSe1X .mbr-iconfont {
  padding-left: 1rem;
  font-family: 'Moririse2' !important;
  font-size: 1.4rem !important;
  color: #6592e6;
}
.cid-syscfvSe1X .panel-body,
.cid-syscfvSe1X .card-header {
  padding: 1rem 0;
}
.cid-syscfvSe1X .panel-title-edit {
  color: #000000;
}
.cid-sysclIWc5g {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sysclIWc5g .card .card-header {
  background-color: transparent;
  margin-bottom: 0;
}
.cid-sysclIWc5g .panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cid-sysclIWc5g .mbr-iconfont {
  padding-left: 1rem;
  font-family: 'Moririse2' !important;
  font-size: 1.4rem !important;
  color: #6592e6;
}
.cid-sysclIWc5g .panel-body,
.cid-sysclIWc5g .card-header {
  padding: 1rem 0;
}
.cid-sysclIWc5g .panel-title-edit {
  color: #000000;
}
.cid-syscmwfUpU {
  padding-top: 0rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
.cid-syscmwfUpU .card .card-header {
  background-color: transparent;
  margin-bottom: 0;
}
.cid-syscmwfUpU .panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cid-syscmwfUpU .mbr-iconfont {
  padding-left: 1rem;
  font-family: 'Moririse2' !important;
  font-size: 1.4rem !important;
  color: #6592e6;
}
.cid-syscmwfUpU .panel-body,
.cid-syscmwfUpU .card-header {
  padding: 1rem 0;
}
.cid-syscmwfUpU .panel-title-edit {
  color: #000000;
}
.cid-sysfMXhWqF {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
.cid-sysfMXhWqF .card .card-header {
  background-color: transparent;
  margin-bottom: 0;
}
.cid-sysfMXhWqF .panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cid-sysfMXhWqF .mbr-iconfont {
  padding-left: 1rem;
  font-family: 'Moririse2' !important;
  font-size: 1.4rem !important;
  color: #6592e6;
}
.cid-sysfMXhWqF .panel-body,
.cid-sysfMXhWqF .card-header {
  padding: 1rem 0;
}
.cid-sysfMXhWqF .panel-title-edit {
  color: #000000;
}
.cid-sysgNcJAXr {
  padding-top: 2rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
.cid-sysgNcJAXr .card .card-header {
  background-color: transparent;
  margin-bottom: 0;
}
.cid-sysgNcJAXr .panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cid-sysgNcJAXr .mbr-iconfont {
  padding-left: 1rem;
  font-family: 'Moririse2' !important;
  font-size: 1.4rem !important;
  color: #6592e6;
}
.cid-sysgNcJAXr .panel-body,
.cid-sysgNcJAXr .card-header {
  padding: 1rem 0;
}
.cid-sysgNcJAXr .panel-title-edit {
  color: #000000;
}
.cid-sysi1gXOgA {
  padding-top: 2rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
.cid-sysi1gXOgA .card .card-header {
  background-color: transparent;
  margin-bottom: 0;
}
.cid-sysi1gXOgA .panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cid-sysi1gXOgA .mbr-iconfont {
  padding-left: 1rem;
  font-family: 'Moririse2' !important;
  font-size: 1.4rem !important;
  color: #6592e6;
}
.cid-sysi1gXOgA .panel-body,
.cid-sysi1gXOgA .card-header {
  padding: 1rem 0;
}
.cid-sysi1gXOgA .panel-title-edit {
  color: #000000;
}
.cid-swFeP9h6N0 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #fcfcfc;
}
.cid-swFeP9h6N0 .oldcost {
  text-decoration: line-through;
  color: #353535;
}
.cid-swFeP9h6N0 .currentcost {
  color: #232323;
}
.cid-swFeP9h6N0 .card-wrapper {
  border-radius: 4px;
  background: #fcfcfc;
}
@media (min-width: 992px) {
  .cid-swFeP9h6N0 .text-box {
    padding: 2rem;
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-swFeP9h6N0 .text-box {
    padding: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-swFeP9h6N0 .text-box {
    padding: 1rem;
  }
}
.cid-swFeP9h6N0 .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-sx2e4Wkal6 {
  padding-top: 1rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
@media (max-width: 991px) {
  .cid-sx2e4Wkal6 .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-sx2e4Wkal6 img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-sx2e4Wkal6 .text-wrapper {
    padding: 2rem;
  }
}
.cid-swFenb5ZTh {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-swFenb5ZTh .card-box {
  z-index: 10;
  position: relative;
}
@media (min-width: 1500px) {
  .cid-swFenb5ZTh .container {
    max-width: 1400px;
  }
}
.cid-swFenb5ZTh .card {
  margin: auto;
}
.cid-swFenb5ZTh .mbr-iconfont {
  display: block;
  font-size: 5rem;
  color: #6592e6;
  margin-bottom: 2rem;
}
.cid-swFenb5ZTh .card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-swFenb5ZTh .row {
  justify-content: center;
}
.cid-swFnrUSzJM {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-swFnrUSzJM .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.4;
}
.cid-swFnrUSzJM form.mbr-form {
  border-radius: 10px;
  background-color: #fafafa;
}
@media (min-width: 992px) {
  .cid-swFnrUSzJM form.mbr-form {
    padding: 3rem 2rem;
    width: 60%;
  }
}
@media (max-width: 991px) {
  .cid-swFnrUSzJM form.mbr-form {
    padding: 1rem;
  }
}
.cid-swFnrUSzJM form.mbr-form .mbr-section-btn {
  text-align: center;
  width: 100%;
}
.cid-swFnrUSzJM form.mbr-form .mbr-section-btn .btn {
  width: 100%;
}
.cid-swFoQDfZH2 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-image: url("../../../assets/images/r3c005787-trator-gradeando-terra-desktop-1366x768.jpg");
}
.cid-swFoQDfZH2 .mbr-text,
.cid-swFoQDfZH2 .mbr-section-btn {
  color: #232323;
}
.cid-swFoQDfZH2 .card-title,
.cid-swFoQDfZH2 .card-box {
  color: #ffffff;
  text-align: left;
}
.cid-swFoQDfZH2 .mbr-text,
.cid-swFoQDfZH2 .link-wrap {
  color: #ffffff;
}
.cid-swFfFk6dPR {
  padding-top: 2rem;
  padding-bottom: 1rem;
  background-color: #fcfcfc;
}
.cid-swFfFk6dPR .media-wrap {
  padding: 0;
}
@media (max-width: 991px) {
  .cid-swFfFk6dPR .media-wrap {
    margin-bottom: 1rem;
  }
}
@media (max-width: 767px) {
  .cid-swFfFk6dPR .row {
    text-align: center;
  }
  .cid-swFfFk6dPR .row > div {
    margin: auto;
  }
  .cid-swFfFk6dPR .social-row {
    justify-content: center;
  }
}
.cid-swFfFk6dPR .social-row {
  display: flex;
  flex-wrap: wrap;
}
.cid-swFfFk6dPR .list {
  list-style: none;
  padding-left: 0;
  color: #bbbbbb;
}
@media (max-width: 991px) {
  .cid-swFfFk6dPR .list {
    margin-bottom: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-swFfFk6dPR .list {
    margin-bottom: 0rem;
  }
}
.cid-swFfFk6dPR .mbr-text {
  color: #353535;
}
.cid-swFfFk6dPR .soc-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: white;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  height: 2.5rem;
  width: 2.5rem;
}
.cid-swFfFk6dPR .mbr-iconfont {
  color: black;
}
@media (max-width: 991px) {
  .cid-swFfFk6dPR div > *:last-child {
    margin-top: 0 !important;
  }
}
.cid-swFfFk6dPR H5 {
  color: #353535;
}
